PORT=3030
OCTOPRINT_URL=http://127.0.0.1:5000
OCTOPRINT_API_KEY=
OCTOPRINT_CAMERA_URL=
GOOGLE_DRIVE_FOLDER_ID=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=http://localhost:3030/oauth2callback
